* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.contact_form {
  width: 100%;
  height: 100vh;
  background: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}
input {
  width: 50%;
  padding: 10px 20px;
  border: none;
  border: none;
  margin: 20px 0;
  text-align: center;
}
button {
  line-height: 24px;
  padding: 0 20px;
  background: #9b59b6;
  color: White;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
a {
  color: #61dafb;
}
a.active_class {
  color: #ffffff;
  border-bottom: 1px solid red;
}
.menu_style {
  width: 100%;
  line-height: 60px;
  background-color: #20232a;
  display: flex;
  justify-content: space-around;
}
